.auth-container{
    background: #F7F7F6;
    padding: 50px 0px;
    text-align: center;
}
.authbox{
    width: 400px;
  
    padding: 20px;
    display: inline-block;
    background:white;
    border-radius: 0px;
    border: 1px solid lightgray;
}


hr{
    margin-top: 5px;
    margin-bottom: 5px;
}

.login-tag{
    padding-bottom: 10px;
    color:var(--light-text);
    font-size: 28px;
}
.alternate{
    font-size: 15px;
    color: #3d3d3d;
}
.alternate-link{
    cursor: pointer;
    color:var(--prim);
    text-decoration: underline;    
}

/* login form css */
.email-input{
    color: #3d3d3d;
    margin-top: 5px;
    width: 100%;
    /* border-radius: 2px; */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dbd9db;
}
.email-input:focus{
    border: 1px solid var(--prim);
}

.select-input{
    color:var(--text);
    margin-top: 5px;
    width: 100%;
    border-radius: 0px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid lightgray;
    border: 1px solid ;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.email{
    text-align: left;
    padding: 10px 0px;
    color:#3d3d3d;
}

.currency-note-container{
    text-align: left;
    padding-top: 40px;
    color:var(--text);
}

/* tooltip */
.my-custom-class .tooltip-inner{
    border: 1px solid var(--dark-border);
    background: white !important;
    border-radius: 0px;
    color: #3d3d3d;

}
.my-custom-class .arrow::before {
    border-right-color:#3d3d3d ;
  }
  /*  */
/* 
.currency-note{
    
    color:var(--text);
    text-align: left;
    background: var(--bg-blue);
    border: 1px solid var(--dark-border);
    padding: 10px;
    
} */
.currency-note{
    font-size: 12px;
    color: #666;
}
.currency-learn{
    cursor: pointer;
    font-size: 12px;
    color: var(--blue);
}
.currency-learn:hover {
    font-size: 12px;
    text-decoration: underline;
}

.login-button{
    padding-top:10px;
    padding-bottom: 5px;
}

.login-button button{
    padding: 12px 20px;
    color:white;
    background: var(--prim);
    border: none;
    /* border-radius:2px; */
    width: 100%;
    transition: all ease-in-out 0.25s;
}

.login-button button:hover{
    transform: translateY(-1px);
    /* background: var(--dark-prim); */
}

.email-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    
    opacity: 1; /* Firefox */
  }
  
  .email-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   
  }
  
  .email-input::-ms-input-placeholder { /* Microsoft Edge */
   
  }

.terms{
    padding-top: 20px;
    font-size: 12px;
    text-align: left;
}

.forgot-password{
    font-size: 12px;
    text-align: right;
    text-decoration: underline;
    color:var(--blue);
}

/* avatar */
.avatar-change-container{
    padding: 20px 0px;
}

.avatar-img{
    height: 150px;
    width: 100%;
    border-radius: 15%;
}

/* HIDE RADIO */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  [type=radio] + img {
    cursor: pointer;
  }
  
  /* CHECKED STYLES */
  [type=radio]:checked + img {
    outline: 2px solid var(--prim);
    
  }


@media screen and (max-width:600px){
    .auth-container{
        padding:0px;
    }
    .authbox{
        border: none;
        border-radius:0px;
    }
    .authbox{
        width:100%;
    }
    .avatar-img{
        height: 230px;
        width: 230px;
    }
    .align-center{
        margin-bottom: 20px;
        text-align: center;
    }
    .center-tag{
        text-align: center !important;
    }
}