<!-- <p>login works!</p>
<p *ngIf="invalidCredentials==true" 
style="color: red;">
    incoreect credentials!
</p>
<form name="form" #loginForm="ngForm" (ngSubmit)="loginForm.form.valid && login(loginForm)">
    <div>Email</div>
    <input 
    required 
    [(ngModel)]="loginData.email"
    name="email" #email="ngModel" 
    type="text"
    >

    <div *ngIf="email.touched && !email.valid" 
    style="color: red;">
    <span *ngIf="email.errors.required">email is required.</span>
    </div>
    
    <div>password</div>
    <input  
    required 
    [(ngModel)]="loginData.password"
    name="password" #password="ngModel" 
    type="password"
    >

    <button 
    type="submit" 
    >Login</button>

</form>  -->

<div class="auth-container">
  <div class="authbox">
    <div class="login-tag font-inter-medium">
      <span> Log in </span>
    </div>

    <!-- <div class="alternate">
            <span>Welcome Back! Login to continue</span>
        </div> -->

    <hr />

    <!-- invalid credentails -->
    <div
      *ngIf="invalidCredentials"
      class="invalid"
      style="
        display: inline-block;
        padding: 5px;
        border-radius: 0px;
        border: 1px solid red;
        color: red;
        font-size: 14px;
      "
    >
      <span>
        <i class="fas fa-exclamation-triangle" aria-hidden="true"></i>
        Invalid credentials! Please and try again.
      </span>
    </div>

    <form
      name="form"
      #loginForm="ngForm"
      (ngSubmit)="loginForm.form.valid && login(loginForm)"
    >
      <div class="email">
        <span>Email</span>

        <input
          placeholder="Enter Email"
          class="email-input"
          required
          [(ngModel)]="loginData.email"
          name="email"
          #email="ngModel"
          type="text"
        />

        <div
          *ngIf="email.touched && !email.valid"
          style="color: red; text-align: left; font-size: 14px"
        >
          <span *ngIf="email.errors.required">Email is required.</span>
        </div>
      </div>

      <div class="email">
        <span>Password</span>
        <input
          placeholder="Enter Password"
          class="email-input"
          required
          [(ngModel)]="loginData.password"
          name="password"
          #password="ngModel"
          type="password"
        />

        <div
          *ngIf="password.touched && !password.valid"
          style="color: red; text-align: left; font-size: 14px"
        >
          <span *ngIf="password.errors.required">Password is required.</span>
        </div>

        <div class="forgot-password" (click)="goToVerifyEmail()">
                    <span>Forgot password?</span>
                </div> 
      </div>

      <div class="login-button">
        <button class="font-inter-medium" type="submit">
          Log in <i class="fas fa-arrow-right"></i>
        </button>
      </div>

      <div class="alternate">
        <span>Don't have an account? </span>
        <span [routerLink]="['/register']" class="alternate-link"
          >Register</span
        >
      </div>

      <!-- <div class="alternate">
                <span>Don't have an account? </span> <span class="alternate-link">Register</span>
            </div> -->

      <div class="terms">
        <span>
          By joining, or logging in via Facebook, you accept Change.org’s
          <span class="forgot-password1">Terms of Service</span> and
          <span class="forgot-password1">Privacy Policy</span>.
        </span>
      </div>
    </form>
  </div>
</div>
